<html>
  <head>
    <title>{{ username }}</title>
    <link href="static/style/base.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <nav class="navbar is-top is-info">
        <div class="navbar-item navbar-brand">
            <a href="/products">
                <button class="button is-link is-light">Go to shop</button>
            </a>
        </div>
        <div class="navbar-brand">
            <a class="navbar-item" href="/sell_item">Sell item</a>
        </div>
     </nav>
    </br>
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label class="label is-large">Hello, {{ username }}!</label>
                    </td>
                    <td>
                        <form action="{{ url_for('main.logout') }}" method=post>
                            <input class="button is-ghost" type=submit value="Logout">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label class="label is-normal">Balance: {{ balance }}$</label>
                        </div>
                    </td>
                </tr>
            <tbody>
        </table>
        </br>
        <div>
            <label class="label is-medium">My orders</label>
            </br>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Price</th>
                    <th>isReturned</th>
                </tr>
            </thead>
            <tbody>
            {% for o in orders %}
            <tr>
                <td> {{ o }}</td>
                <td>{{o.price}}$ </td>
                <td>{{ o.is_ret }}</td>
                <td>
                    <form action="{{ url_for('main.return_item', item_id=o.item_id) }}" method=post>
                        <input class="button is-normal is-light" type=submit value="Refund">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <div>
            <label class="label is-medium">My items</label>
            </br>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>isInStock</th>
                </tr>
            </thead>
            <tbody>
            {% for i in items %}
            <tr>
                 <td> {{ i.about }}</td>
                 <td>{{i.price}}$</td>
                 <td>{{ i.is_in_stock }} </td>
                 <td>
                    <form action="{{ url_for('main.delete_item', item_id=i.item_id) }}" method=post>
                        <input class="button is-normal is-light" type=submit value="Don't sell">
                    </form>
                 </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </br>
  </body>
</html>